{% extends "base.html" %}
{% block title %}Início - ContabiLAB{% endblock %}
{% block content %}

<div class="page-header">
    <img src="{{ url_for('static', filename='img/header-image.jpg') }}" alt="Contabilab" />
</div>

<div class="container">
    <h1>Bem-vindo ao ContabiLAB!</h1>
    <p>Este site agora possui um simulador da HP12C para cálculos financeiros, facilitando seus estudos e aplicações na
        área Contábil 🤠.
    </p>
    <p>Use a barra lateral para acessar o simulador e experimentar todas as funcionalidades.</p>
</div>

<style>
    .page-header {
        max-width: 400px;
        width: 100%;
        margin: 40px auto 0;
        text-align: center;
    }

    .page-header img {
        max-width: 100%;
        height: auto;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }

    .container {
        max-width: 400px;
        background-color: white;
        margin: 30px auto 60px;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h1 {
        color: #2c3e50;
        margin-bottom: 20px;
    }

    p {
        color: #34495e;
        font-size: 16px;
        line-height: 1.5;
    }
</style>

{% endblock %}